@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300;700&family=Roboto:wght@400;700&display=swap');

:root {
    --light-blue: #B4C5CC;
    --blue-head: #327F9B;
    --blue-title: #7CCBED;
    --dark-blue: #000849;
    --pv: #5bff4b;
    --atk: #ec0000;
    --def: #cb6f00;
    --spd: #3f8eff;

}
a{
    text-decoration: none;
}
h1,
h2,
p,
h3,
button {
    font-family: 'Kulim Park', sans-serif;
}

body {
    background-color: var(--light-blue);
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    background-color: var(--blue-head);
    padding: 20px;
}

.sous-header {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: var(--blue-head);
    border-bottom: 1px solid var(--blue-head);
    padding: 20px;
    background-color: #fff;
}

.sous-header select,
.sous-header option {
    background-color: transparent;
    border: none;
    color: var(--blue-head);
    font-size: 1.5rem;
}

.sous-header a {
    text-decoration: none;
}

.sous-header a:hover {
    font-size: 2rem;
    transition: 1s ease-in-out;

}

h1 {
    font-size: 5rem;
    text-align: center;
    color: var(--blue-title);
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 20px 20px;
    margin-left: 40px;
    color: var(--blue-head);
}

section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 20%;
    position: relative;
    overflow: hidden;
}

.dragon {
    background-color: #fff;
}

.dragon a {
    text-decoration: none;
}

.dragon:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

article div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

figure img {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 50%;
    max-height: 100%;
}

article div img {
    width: 50px;
}

.pp {
    width: 100%;
    border-radius: 10px;
    max-height: 200px;
    object-fit: cover;
    z-index: 10;
}

.stats {
    display: flex;
    flex-direction: column;
    color: var(--dark-blue);
    font-size: 1.3rem;
    font-weight: 800;
    width: 100%;
    z-index: 1;
    padding: 50px 10px 50px 10px;
    margin: 10px;
    border-radius: 10px;
}

.stats aside {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}

.stats aside p {
    min-width: 80px;
}

.progress {
    height: 24px;
    margin-left: 20px;
}

.pv {
    background-color: var(--pv);
    width: 25% !important;
}

.atk {
    background-color: var(--atk);
    width: 50% !important;
}

.def {
    background-color: var(--def);
    width: 80% !important;
}

.spd {
    background-color: var(--spd);
    width: 40% !important;
}

@media only screen and (max-width: 1200px) {
    article {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    article {
        width: 100%;
    }
}

/* ------------------------DESC-------------------- */
/* ------------------------DESC-------------------- */
/* ------------------------DESC-------------------- */
.arrow{
    display: flex;
    justify-content: flex-start;
    margin: 40px;
}
.arrow img:hover{
    transform: rotate(1turn);
    transition: 1s ease-in-out;
}
.desc-img {
    width: 80%;
    max-height: 500px;
    object-fit: cover;
}

.desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name img {
    width: 100px;
    margin-left: 20px;
}

.name {
    margin-top: 20px;
    font-size: 2rem;
}

.stats-desc {
    width: 80% !important;
}

aside ul li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
aside ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

aside ul li p{
    color: var(--dark-blue);
    font-size: 1.5rem;
    margin-left: 20px;
}
.relation{
    position: relative;
    z-index: 1;
}
.fond img{
    width: 100%;
    height: 100%;
    position: static;
    margin-top: -400px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

form div {
    display: flex;
    flex-direction: column;
}

form div input {
    margin: 15px 15px;
    padding: 10px;
}

form div label {
    font-size: 1.2rem;
}

#valider {
    padding: 10px;
    background-color: var(--blue-head);
    color: #ffff;
    font-size: 1.1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

#valider:hover {
    background-color: #fff;
    color: var(--blue-head);
    border: 1px solid var(--blue-head);
    transition: 1s;
}