@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300;700&family=Roboto:wght@400;700&display=swap');

:root {
    --light-blue: #B4C5CC;
    --blue-head: #327F9B;
    --blue-title: #7CCBED;
    --dark-blue:  #000849;
    --pv: #5bff4b;
    --atk: #ec0000;
    --def: #cb6f00;
    --spd: #3f8eff;

}

h1,
h2,
p,
h3,
button {
    font-family: 'Kulim Park', sans-serif;
}

body {
    background-color: var(--light-blue);
}

header {
    position: relative;
    top: 0;
    background-color: var(--blue-head);
    padding: 20px;
}
.sous-header{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: var(--blue-head);
    border-bottom: 1px solid var(--blue-head);
    padding: 20px;
    background-color: #fff;
}
.sous-header select, .sous-header option{
    background-color: transparent;
    border: none;
    color: var(--blue-head);
    font-size: 1.5rem;
}
.sous-header a{
    text-decoration: none;
}
.sous-header a:hover{
   font-size: 2rem;
   transition: 1s ease-in-out;
   
}
h1 {
    font-size: 5rem;
    text-align: center;
    color: var(--blue-title);
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 20px 20px;
    margin-left: 40px;
    color: var(--blue-head);
}

section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 20%;
    position: relative;
    overflow: hidden;
}
.dragon{
    background-color: #fff;
}
.dragon a{
    text-decoration: none;
}
.dragon:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
article div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

figure img {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 50%;
    max-height: 100%;
}

article div img {
    width: 50px;
}

.pp {
    width: 100%;
    border-radius: 10px;
    max-height: 200px;
    object-fit: cover;
    z-index: 10;
}

.stats {
    display: flex;
    flex-direction: column;
    color: var(--dark-blue);
    font-size: 1.3rem;
    font-weight: 800;
    width: 100%;
    z-index: 1;
    padding: 50px 10px 50px 10px;
    margin: 10px;
    border-radius: 10px;
}

.stats aside {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}

.stats aside p {
    min-width: 80px;
}

.progress {
    height: 24px;
    margin-left: 20px;
}

.pv {
    background-color: var(--pv);
    width: 25% !important;
}

.atk {
    background-color: var(--atk);
    width: 50% !important;
}

.def {
    background-color: var(--def);
    width: 80% !important;
}

.spd {
    background-color: var(--spd);
    width: 40% !important;
}
@media only screen and (max-width: 1200px){
    article {
        width: 40%;
    }
}
@media only screen and (max-width: 700px){
    article {
        width: 100%;
    }
}